<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
<!--    <link href="../../node_modules/vuetify/dist/vuetify.min.css" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style>
        html {
            overflow-y: auto;
        }

        .v-input__icon--prepend-inner {
            margin-right: 16px;
        }
    </style>
</head>
<body>
<div id="app">
    <v-app>
        <v-content>
            <v-container>
                <v-col cols="12" class="pt-0">
                    <v-tabs color="primary" v-model="tab">
                        <v-tab v-for="item in tabs" :key="item">
                            {{ item }}
                        </v-tab>
                        <v-tabs-items v-model="tab">
                            <v-tab-item>
                                <v-row justify="center" align="center" class="mt-2">
                                    <v-col cols="3">
                                        <p class="text-left pl-4">显示语言</p>
                                    </v-col>
                                    <v-col cols="9" class="pb-0">
                                        <v-select
                                                :items="settings.general.displayLang"
                                                filled
                                                dense
                                                prepend-inner-icon="mdi-translate"
                                        ></v-select>
                                    </v-col>
                                </v-row>
                            </v-tab-item>
                            <v-tab-item>
                                <v-row justify="center" align="center" class="mt-2">
                                    <v-col cols="3">
                                        <p class="text-left pl-4">Tab 键大小</p>
                                    </v-col>
                                    <v-col cols="9" class="pb-0">
                                        <v-text-field
                                                :value="settings.edit.tabSize"
                                                filled
                                                dense
                                                suffix="空格"
                                                prepend-inner-icon="mdi-keyboard-tab"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row justify="center" align="center" class="mt-n4">
                                    <v-col cols="3">
                                        <p class="text-left pl-4">字体</p>
                                    </v-col>
                                    <v-col cols="9" class="pb-0">
                                        <v-text-field
                                                :value="settings.edit.customFontFamily"
                                                filled
                                                dense
                                                prepend-inner-icon="mdi-format-font"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row justify="center" align="center" class="mt-n4">
                                    <v-col cols="3">
                                        <p class="text-left pl-4">字体大小</p>
                                    </v-col>
                                    <v-col cols="9" class="pb-0">
                                        <v-text-field
                                                :value="settings.edit.customFontSize"
                                                filled
                                                dense
                                                prepend-inner-icon="mdi-format-size"
                                                suffix="px"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-tab-item>
                            <v-tab-item>
                                <v-row justify="center" align="center" class="mt-2">
                                    <v-col cols="3">
                                        <p class="text-left pl-4">Markdown 主题</p>
                                    </v-col>
                                    <v-col cols="9" class="pb-0">
                                        <v-select
                                                :items="settings.render.markdownTheme"
                                                filled
                                                dense
                                                prepend-inner-icon="mdi-palette-swatch-outline"
                                        ></v-select>
                                    </v-col>
                                </v-row>
                                <v-row justify="center" align="center" class="mt-n4">
                                    <v-col cols="3">
                                        <p class="text-left pl-4">代码高亮 主题</p>
                                    </v-col>
                                    <v-col cols="9" class="pb-0">
                                        <v-select
                                                :items="settings.render.codeHighlightTheme"
                                                filled
                                                dense
                                                prepend-inner-icon="mdi-palette-swatch-outline"
                                        ></v-select>
                                    </v-col>
                                </v-row>
                                <v-row justify="center" align="center" class="mt-n4">
                                    <v-col cols="3">
                                        <p class="text-left pl-4">自定义 CSS 样式</p>
                                    </v-col>
                                    <v-col cols="9" class="pb-0">
                                        <v-file-input
                                                :value="settings.render.customCSS"
                                                filled
                                                dense
                                                prepend-icon=""
                                                prepend-inner-icon="mdi-file-code-outline"
                                                clear-icon=""
                                                accept=".css"
                                        ></v-file-input>
                                    </v-col>
                                </v-row>
                            </v-tab-item>
                            <v-tab-item>
                                <v-row justify="center" align="center" class="mt-2">
                                    <v-col cols="3">
                                        <p class="text-left pl-4">图片处理</p>
                                    </v-col>
                                    <v-col cols="9" class="pb-0">
                                        <v-select
                                                :items="settings.export.picProcess"
                                                v-model="userSettings.export.picProcess"
                                                filled
                                                dense
                                                prepend-inner-icon="mdi-image-multiple-outline"
                                        ></v-select>
                                    </v-col>
                                </v-row>
                                <v-row justify="center" align="center" class="mt-n4">
                                    <v-col cols="3">
                                        <p class="text-left pl-4">图片转存文件夹</p>
                                    </v-col>
                                    <v-col cols="9" class="pb-0">
                                        <v-text-field
                                                filled
                                                dense
                                                :disabled="userSettings.export.picProcess !== 'copyToPath'"
                                                v-model="userSettings.export.picSavePath"
                                                prepend-inner-icon="mdi-folder-move-outline"
                                                @click="choosePicSavePath"
                                                readonly
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-tab-item>
                        </v-tabs-items>
                    </v-tabs>
                </v-col>
            </v-container>
        </v-content>
    </v-app>
</div>

<!--<script src="../../node_modules/vue/dist/vue.js"></script>-->
<!--<script src="../../node_modules/vuetify/dist/vuetify.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="settings.js"></script>
</body>
</html>
